body {
  font-family: var(--font-family-sans-serif);
  line-height: 1.5;
  font-size: 1.2rem; }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .cover, .cover > .container > .row {
    height: 100vh;
    min-height: 500px; }

.social a {
  font-size: 2rem;
  display: inline-block;
  padding: 20px; }
  .social a:first-child {
    padding-left: 0; }
  .social a:hover {
    text-decoration: none; }
