@import 'vars';
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
body {
	font-family: $font-family-sans-serif;
	line-height: 1.5;
	font-size: 1.2rem;

}
.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&, & > .container > .row {
		height: 100vh;
		min-height: 500px;
	}
}
.social {
	a {
		&:first-child {
			padding-left: 0;
		}
		font-size: 2rem;
		display: inline-block;
		padding: 20px;
		&:hover {
			text-decoration: none;
		}

	}
}